<form method="post" action="/hub/create" enctype="multipart/form-data">
      <input type="hidden" name="csrfmiddlewaretoken" value="mgDZxrcRFRmhbvH9tOKZUyO4orS1tiSGOypWZojupsOLsa7uyAgx68u9FGdqsqSq">

      <label for="id_part_name">Название:</label>
      <input type="text" name="part_name" maxlength="255" required="" id="id_part_name">

      <label for="id_part_number">Номер запчасти:</label>
      <input type="text" name="part_number" maxlength="255" required="" id="id_part_number">

      <label for="id_vehicle_model">Модель:</label>
      <select name="vehicle_model" required="" id="id_vehicle_model">
          <option value="" selected="">---------</option>
          <option value="1">Porsche Cayenne</option>
          <option value="2">Porsche Panamera</option>
          <option value="3">Smart ForTwo</option>
          <option value="4">Volkswagen Transporter</option>
      </select>

      <label for="id_quantity">Количество:</label>
      <input type="number" name="quantity" value="0" required="" id="id_quantity">

      <label for="id_cost">Закупка:</label>
      <input type="number" name="cost" step="0.01" required="" id="id_cost">

      <label for="id_price">Продажа:</label>
      <input type="number" name="price" step="0.01" required="" id="id_price">

      <label for="id_warehouse">Склад:</label>
      <select name="warehouse" id="id_warehouse">
          <option value="A" selected="">Склад А</option>
          <option value="B">Склад Б</option>
      </select>

      <label for="id_rack">Стеллаж:</label>
      <input type="number" name="rack" required="" id="id_rack">

      <label for="id_image">Image:</label>
      <input type="file" name="image" accept="image/*" required="" id="id_image">

      <label for="id_remarks">Remarks:</label>
      <textarea name="remarks" cols="40" rows="10" required="" id="id_remarks"></textarea>

      <input type="submit" class="btn btn-primary" value="Добавить">
    </form>


<label for="id_brand">Марка:</label>
<select name="brand" required="" id="id_brand">
        {% for i in brands %}
            <option value="{{ i.id }}" {% if i.id == 1 %}selected{% endif %}>{{ i.title }}</option>
        {% endfor %}
    </select>


{% if page_obj.has_previous %}
    <a class="btn btn-outline-info mb-4" href="{%if q %}?{{ q }}&{% else %}?{% endif %}page=1">&#171;</a>
    <a class="btn btn-outline-info mb-4" href="{%if q %}?{{ q }}&{% else %}?{% endif %}page={{ page_obj.previous_page_number }}">&#60;</a>
{% endif %}

{% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
        <a class="btn btn-info mb-4" href="{%if q %}?{{ q }}&{% else %}?{% endif %}page={{ num }}">{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="btn btn-outline-info mb-4" href="{%if q %}?{{ q }}&{% else %}?{% endif %}page={{ num }}">{{ num }}</a>
    {% endif %}
{% endfor %}

{% if page_obj.has_next %}
    <a class="btn btn-outline-info mb-4" href="{%if q %}?{{ q }}&{% else %}?{% endif %}page={{ page_obj.next_page_number }}">&#62;</a>
    <a class="btn btn-outline-info mb-4" href="{%if q %}?{{ q }}&{% else %}?{% endif %}page={{ page_obj.paginator.num_pages }}">&#187;</a>
{% endif %}


<nav>
                <ul class="pagination pagination-sm">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="{%if q %}?{{ q }}&{% else %}?{% endif %}page=1">&#171;</a></li>
                        <li class="page-item"><a class="page-link" href="{%if q %}?{{ q }}&{% else %}?{% endif %}page={{ page_obj.previous_page_number }}">&#60;</a></li>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <li class="page-item active" aria-current="page">
                              <span class="page-link">
                                {{ num }}
                                <span class="sr-only">(current)</span>
                              </span>
                            </li>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <li class="page-item"><a class="page-link" href="{%if q %}?{{ q }}&{% else %}?{% endif %}page={{ num }}">{{ num }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="{%if q %}?{{ q }}&{% else %}?{% endif %}page={{ page_obj.next_page_number }}">&#62;</a></li>
                        <li class="page-item"><a class="page-link" href="{%if q %}?{{ q }}&{% else %}?{% endif %}page={{ page_obj.paginator.num_pages }}">&#187;</a></li>
                    {% endif %}
                </ul>
            </nav>