<!doctype html>
<html lang="ru-ru" class="h-100">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Запчасти для Porsche и других иномарок" />
    <meta name="keywords" content="запчасти для porsche, porsche parts, каталог запчастей, поиск по номеру,
        auto parts, porsche parts" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/pph.css">
    <title>Porsche Parts Hub | Запчасти для Porsche</title>
  </head>
  <body class="d-flex flex-column h-100">
    <main class="flex-shrink-0" role="main">
        {% load static %}
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
            <div class="container">
              <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'img/PWW.svg' %}" height=36></a>
              <a class="navbar-nav ml-auto my-auto" href="tel:+79637828216" style="color: #fff; text-decoration: None;">+7 (963) 782-82-16</a>
              <a class="navbar-nav my-auto" href="https://wa.me/79637828216" target="_blank">
                  <img id="wa-logo" class="px-3" src="{% static 'img/WhatsApp_Logo_3.svg' %}" height=26 alt="WhatsApp logo">
              </a>
              <button id="sandwich" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span id="sandwich-icon" class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto mr-3">
                    {% if user.is_authenticated %}
                      <a class="nav-item nav-link active" href="{% url 'sales' %}">Продажи</a>
                      <a class="nav-item nav-link active" href="{% url 'stock_stats' %}">Статистика</a>
                      <a class="nav-item nav-link active" href="javascript:{document.getElementById('logout').submit()}">Выйти</a>
                      <form id="logout" method="post" action="{% url 'logout' %}">
                          {% csrf_token %}
                          <input type="hidden">
                      </form>
                    {% else %}
                      <a class="nav-item nav-link active" href="{% url 'login' %}">Войти</a>
                    {% endif %}
                </div>
              </div>
            </div>
        </nav>
        {% if messages %}
            <div class="container mt-4">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                      {{ message }}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% block content %}
        {% endblock %}
    </main>
    <footer class="footer mt-auto py-3">
      <div class="container">
        <p class="text-right text-monospace text-muted">Python {{ py_version }} | Django {{ dj_version }}</p>
      </div>
      <div class="container text-center">
        <span class="text-muted" style="font-size: 12px;">&copy; <a href="https://wa.me/79255897511" target="_blank">Ivan Kazakov</a></span>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
