{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h3 class="my-3">Сводные данные</h3>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Марка</th>
                        <th scope="col">Модель</th>
                        <th class="text-right" scope="col">К-во поз.</th>
                        <th class="text-right" scope="col">К-во ед.</th>
                        <th class="text-right" scope="col">Сумма Нетто</th>
                        <th class="text-right" scope="col">Сумма Брутто</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in ppm %}
                        {% if row.qty_parts %}
                            <tr>
                                <td>{{ row.vehicle_brand.title }}</td>
                                <td>{{ row.vehicle_model }}</td>
                                <td class="text-right">{{ row.num_parts|default_if_none:0 }}</td>
                                <td class="text-right">{{ row.qty_parts|default_if_none:0 }}</td>
                                <td class="text-right">{{ row.total_cost|default_if_none:"0,00" }}</td>
                                <td class="text-right">{{ row.total_price|default_if_none:"0,00" }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    <tr class="font-weight-bolder">
                        <td>Итого:</td>
                        <td></td>
                        <td class="text-right">{{ agg.num_parts__sum|default_if_none:0 }}</td>
                        <td class="text-right">{{ agg.qty_parts__sum|default_if_none:0 }}</td>
                        <td class="text-right">{{ agg.total_cost__sum|default_if_none:"0,00" }}</td>
                        <td class="text-right">{{ agg.total_price__sum|default_if_none:"0,00" }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
