.table {
    font-size: 12px;
}

@media (max-width: 366px) {
    a {
        font-size: 12px;
    }

    .btn, #total_parts_pill {
        font-size: 12px;
    }
}

@media (max-width: 333px) {
    #sandwich {
        padding-right, padding-left: 9px;
    }
    #sandwich-icon {
        width: 1em;
        height: 1em;
    }

    #wa-logo {
        height: 20px;
    }

    .btn, #total_parts_pill, #total_parts_pill + a {
        font-size: 10px;
    }
}