{% extends 'base.html' %}
{% block content%}
<div class="container mt-4" style="max-width: 28em;" xmlns="http://www.w3.org/1999/html">
    <h1>Войти</h1>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
      <div class="form-group">
        <label for="username">Имя Пользователя</label>
        <input type="text" class="form-control" id="username" aria-describedby="emailHelp" name="username">
      </div>
      <div class="form-group">
        <label for="pw">Пароль</label>
        <input type="password" class="form-control" id="pw" name="password">
      </div>
      <button type="submit" class="btn btn-primary">Войти</button>
    </form>
</div>
{% endblock %}