{% extends 'base.html' %}
{% block content%}
<br>
<div class="container d-flex">
    {% if user.is_authenticated %}
        <a class="btn btn-primary btn-sm mr-1" href="{% url 'part_create' %}">Добавить</a>
    {% endif %}
    <button class="btn btn-primary dropdown-toggle btn-sm mr-1" type="button" data-toggle="collapse" data-target="#search-form" aria-expanded="false" aria-controls="collapseExample">
      Поиск
    </button>
    <a class="btn btn-outline-info btn-sm mr-auto" href="{% url 'home' %}">Сбросить</a>
    {% if user.is_authenticated %}
        <div class="my-auto">
            <span id="total_parts_pill" class="align-middle">{{ total }}</span>
            <a class="text-secondary align-middle" href="javascript:{document.getElementById('inactive_form').submit()}"> / {{ inactive }}</a>
            <form id="inactive_form" method="get">
                  <input type="hidden" name="inactive_search">
              </form>
        </div>
    {% endif %}
</div>
<div class="collapse container" id="search-form">
    <br>
    <form method="get">
        <div class="form-group">
          <input type="text" class="form-control" name="search_field" placeholder="ключевые слова">
        </div>
        {% if user.is_authenticated%}
            <label for="stockRadio">Наличие</label>
            <div class="form-group" id="stockRadio">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="in_stock" id="inlineRadio1" value="yes" checked>
                  <label class="form-check-label" for="inlineRadio1">Да</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="in_stock" id="inlineRadio2" value="no">
                  <label class="form-check-label" for="inlineRadio2">Нет</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="in_stock" id="inlineRadio3" value="any">
                  <label class="form-check-label" for="inlineRadio3">Неважно</label>
                </div>
            </div>
        {% endif %}

        <button type="submit" id="search_button" class="btn btn-primary btn-sm" name="action_search">
            <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z" clip-rule="evenodd"/>
              <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" clip-rule="evenodd"/>
            </svg>
            Искать
        </button>
        <button type="submit" id="clear_button" class="btn btn-outline-info btn-sm" name="action_clear">
            <svg class="bi bi-x" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z" clip-rule="evenodd"/>
              <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z" clip-rule="evenodd"/>
            </svg>
            Сбросить
        </button>

    </form>
</div>

<br>
<div class="container">
    <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">Номер з/ч</th>
              <th scope="col">Название</th>
              <th scope="col">Модель</th>
              {% if user.is_authenticated %}
                  <th scope="col" class="text-right">Шт</th>
                  <th scope="col" class="text-right">Закупка</th>
                  <th scope="col" class="text-right">Продажа</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
          {% for row in object_list %}
              <tr>
                  <th scope="row">
                      <a href="{% url 'part_detail' row.id %}" class="text-decoration-none">
                          {{ row.part_number }}
                      </a>
                  </th>
                  <td>{{ row.part_name }}</td>
                  <td>
                      <a href="{% url 'home' %}?vehicle_model__vehicle_model={{ row.vehicle_model.vehicle_model }}">{{ row.vehicle_model.vehicle_model }}</a>
                    </td>
                  {% if user.is_authenticated %}
                      <td class="text-right">{{ row.quantity }}</td>
                      <td class="text-right">{{ row.cost }}</td>
                      <td class="text-right">{{ row.price }}</td>
                  {% endif %}

              </tr>
          {% endfor%}
          </tbody>
        </table>

    </div>
    {% if is_paginated %}
        <nav>
            <ul class="pagination pagination-sm">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="{%if q %}?{{ q }}&{% else %}?{% endif %}page=1">&#171;</a></li>
                    <li class="page-item"><a class="page-link" href="{%if q %}?{{ q }}&{% else %}?{% endif %}page={{ page_obj.previous_page_number }}">&#8249;</a></li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="page-item active" aria-current="page">
                          <span class="page-link">
                            {{ num }}
                            <span class="sr-only">(current)</span>
                          </span>
                        </li>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <li class="page-item"><a class="page-link" href="{%if q %}?{{ q }}&{% else %}?{% endif %}page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="{%if q %}?{{ q }}&{% else %}?{% endif %}page={{ page_obj.next_page_number }}">&#8250;</a></li>
                    <li class="page-item"><a class="page-link" href="{%if q %}?{{ q }}&{% else %}?{% endif %}page={{ page_obj.paginator.num_pages }}">&#187;</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
</div>
{% endblock %}
