{% extends 'base.html' %}
{% block content %}
<br>
<div class="container">
  <div class="card text-center">
    {% if object.photo.photo %}
      <img src="{{ object.photo.photo.url }}" class="card-img-top" alt="{{ object.part_name }} фото">
    {% endif%}
    <div class="card-body">
      <h5 class="card-title">{{ object.part_name }}</h5>

      <table class="table table-striped table-sm">
        <tbody>
          <tr>
            <td class="text-right font-weight-bold">Марка/модель</td>
            <td class="text-left">{{ object.vehicle_model.vehicle_brand.title }} {{ object.vehicle_model.vehicle_model }}</td>
          </tr>
          <tr>
            <td class="text-right font-weight-bold">Номер з/ч</td>
            <td class="text-left">{{ object.part_number }}</td>
          </tr>
          {% if user.is_authenticated %}
            <tr>
              <td class="text-right font-weight-bold align-middle">Количество</td>
              <td class="text-left">
                <span class="align-middle">{{ object.quantity }}</span>
                  <a href="javascript:{document.getElementById('sell_form').submit()}" id="sell" class="btn btn-success btn-sm ml-3 col-7" name="action_sell">Продать</a>
              </td>
            </tr>
            <tr>
              <td class="text-right font-weight-bold">Закупка</td>
              <td class="text-left">{{ object.cost }}</td>
            </tr>
            <tr>
              <td class="text-right font-weight-bold">Продажа</td>
              <td class="text-left">{{ object.price }}</td>
            </tr>
            <tr>
              <td class="text-right font-weight-bold">Стеллаж</td>
              <td class="text-left">{{ object.warehouse }} / {{ object.rack }}</td>
            </tr>
          {% endif %}
          <tr>
            <td class="text-right font-weight-bold">Примечания</td>
            <td class="text-left">{{ object.remarks|truncatechars:25 }}</td>
          </tr>
        </tbody>
      </table>
      {% if user.is_authenticated %}
        <a href="{% url 'part_update' object.id %}" class="btn btn-primary btn-sm">Изменить</a>
        <a href="{% url 'part_delete' object.id %}" class="btn btn-danger btn-sm">Удалить</a>
      {% endif %}
      <a href="javascript:{history.back();}" class="btn btn-info btn-sm">Назад</a>
    </div>
  </div>
</div>
<form id="sell_form" method="post" action="{% url 'sell' part.id %}">
  {% csrf_token %}
  <input type="hidden">
</form>
{% endblock %}
