{% extends 'base.html' %}
{% block content%}
<br>
<div class="container">
    <div class="content-selection">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Удалить запчасть</legend>
                <h2>Вы собираетесь удалить запчасть:<br><strong>{{ object.part_name }}
                    {{ object.vehicle_model.vehicle_brand.title }}
                    {{ object.vehicle_model.vehicle_model }}</strong></h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-danger" type="submit">Да, удалить</button>
                <a href="{% url 'part_detail' object.id %}" class="btn btn-primary">Отмена</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}