{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content%}
<br>
<div class="container">
    <div class="form-group">
        <label for="id_brand" class=" requiredField">
            Марка<span class="asteriskField">*</span>
        </label>
        <div class="row mx-auto">
            <select name="brand" class="select form-control col-5" required="" id="id_brand">
                {% for i in brands %}
                    <option value="{{ i.id }}">{{ i.title }}</option>
                {% endfor %}
            </select>
            <input type="text" class="textinput ml-2 form-control col-5" id="new_brand">
            <button id="add_brand_btn" class="btn btn-outline-info btn-sm col-1 ml-2">+</button>
        </div>
    </div>
    {% crispy form %}

    <div id="div_id_image" class="form-group">
        <label for="id_image" class="">Фото</label>
        <div class="">
            <input type="file" name="image" accept="image/*" class="clearablefileinput form-control-file" id="id_image">
        </div>
    </div>

    <div class="form-group">
        <div class="">
            <input type="submit" name="submit" value="СОХРАНИТЬ" class="btn btn-primary btn-success" id="submit-photo">
            <a href="javascript:{history.back();}" class="btn btn-info ">Отмена</a>
        </div>
    </div>

</div>
<script type="text/javascript">
    const mode = "{{ mode }}";
    const model_id = (mode == 'update') ? parseInt("{{ model_id }}") : undefined;
    const brand_id = (mode == 'update') ? parseInt("{{ brand_id }}") : undefined;
</script>
<script src="/static/js/hub_create.js" ></script>
{% endblock %}