{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h3 class="my-3">Продажи</h3>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Название</th>
                        <th scope="col">Марка</th>
                        <th scope="col">Модель</th>
                        <th class="text-right" scope="col">Дата</th>
                        <th class="text-right" scope="col">К-во</th>
                        <th class="text-right" scope="col">Закупка</th>
                        <th class="text-right" scope="col">Продажа</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in object_list %}
                        <tr>
                            <td>{{ item.part.part_name }}</td>
                            <td>{{ item.part.vehicle_model.vehicle_brand.title }}</td>
                            <td>{{ item.part.vehicle_model.vehicle_model }}</td>
                            <td class="text-right">{{ item.sale_date|date:"Y.m.d" }}</td>
                            <td class="text-right">{{ item.quantity }}</td>
                            <td class="text-right">{{ item.cost }}</td>
                            <td class="text-right">{{ item.price }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}